nav{
    background-color: #47526b;
    border-bottom: 1px solid white;
}
.nav {
    color: white !important;
    margin: 0 auto;
}

@media only screen and (max-width: 1090px) {
    .nav {
        margin-left: 57px;
    }
}
